body {
	padding: 10px 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

table {
	border-collapse: collapse;
}

td, th {
	border: solid 1px black;
	padding: 5px 10px;
	text-align: left;
}